<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8" />

  <meta name="author" content="Ács Ádám" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Davidraifort.com</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="navbar navbar-default navbar-static-top navbar-align-center">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>

        <a href="#" class="navbar-brand"> Tormart Photo & Retouch </a>
      </div>
      <div class="navbar-collapse collapse"> 
        <ul class="nav navbar-nav navbar-right">

          <li><a id="current" href="index.html">HOME</a></li>
          <li><a href="photo.html">PHOTO</a></li>
          <li class="dropdown">
            <a href="retouch.html" class="dropdown-toggle" data-toggle="dropdown">RETOUCH <b class ="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Color correction</a></li>
              <li><a href="#">Retouching</a></li>
              <li><a href="#">Image manipulation</a></li>
            </ul>

          </li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="contact.html">CONTACT</a></li>


        </ul>

      </div>

    </div>
  </div>


  <p class=""> Photo </p>
  <p class=""> Retouch </p>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
  </script>



</body>

<footer>
  <div class= "navbar navbar-default navbar-fixed-bottom">

    <div class="container">
      <a href="http://google.hu/">
        <img src="images/footer/v1/gb.png" onmouseout="this.src='images/footer/v1/gb.png';" onmouseover="this.src='images/footer/v1/ga.png';" >
      </a>
         <a href="http://facebook.hu/">
        <img src="images/footer/v1/fb.png" onmouseout="this.src='images/footer/v1/fb.png';" onmouseover="this.src='images/footer/v1/fa.png';" >
      </a>
         <a href="http://500px.com/">
        <img src="images/footer/v1/5b.png" onmouseout="this.src='images/footer/v1/5b.png';" onmouseover="this.src='images/footer/v1/5a.png';" >
      </a>

      

      <div>
        <p class="navbar-text pull-left">
          <p>email: davidraifort@gmail.com</p>
          <p>Phone: 0620/580-5082</p>

        </p>
      </div>

    </div>
  </footer>
  </html>
