<ul class="submenu">
	<li><div class="filter" data-filter="all">Show All</div></li>
	<li><div class="filter" data-filter=".category-colorcorrection">Color correction</div></li>
	<li><div class="filter" data-filter=".category-retouch">Retouching</div></li>
	<li><div class="filter" data-filter=".category-imagemanipulation">Image manipulation</div></li>
</ul>

<div id="container">
	<div class="mix category-colorcorrection">23423</div>
	<div class="mix category-retouch">asdfsd</div>
	<div class="mix category-imagemanipulation">hfg</div>
	<div class="mix category-imagemanipulation">4343</div>
</div>

<style>
#container .mix{
	display: none;
}
</style>

<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script>
$(function(){
	$('#container').mixItUp();
});
</script>


